<!DOCTYPE html>
<html ng-app="mdfp" ng-cloak>
  <head>
    <meta charset="UTF-8">
    <title>Material Design Font-Picker</title>
    <meta name="viewport"content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"crossorigin="anonymous">
  </head>
  <body ng-controller="PickerController as picker">
    <div class="well">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="searchFont" placeholder="Search"/>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select class="btn-lg btn btn-default btn-block" ng-model="picker.orderByFont">
              <option value="family">Sort By Name</option>
              <option value="category">Sort By Categories</option>
              <option value="variants">Sort By Variants</option>
              <option value="subsets">Sort By Subsets</option>
            </select>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="form-group">
            <div class="btn-group" role="group">
              <button ng-click="picker.setFontView('grid')" ng-class="{'btn-primary':picker.activeFontView('grid')}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></button>
              <button ng-click="picker.setFontView('list')" ng-class="{'btn-primary':picker.activeFontView('list')}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <ul class="list-inline">
              <li>a</li>
              <li><input type="range" min="50" max="80" ng-model="fontSize" /></li>
              <li>A</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-xs-6 col-md-{{picker.fontViewSize}}"ng-repeat="font in picker.fonts | orderBy: picker.orderByFont | filter: searchFont | categoryFilter:picker.currentCategory | variantFilter:picker.currentVariant | subsetFilter:picker.currentSubset | startFrom:picker.fontCurrentPage*picker.fontPageSize | limitTo:picker.fontPageSize">
              <div class="panel panel-default">
                <div class="panel-body" style="padding:0px;">
                  <input style="width:100%;font-size:{{fontSize}}px;border:0px;font-family:{{font.family}}" type="text" picker-font family="font.family" ng-model="picker.text"/>
                </div>
                <div class="panel-footer"><span style="font-size:12px;">{{font.family}}</span><button class="btn btn-default pull-right btn-xs" ng-click="picker.showDg(font)">select</button></div>
              </div>
            </div>
          </div>
          <nav>
            <ul class="pager">
              <li><a href="javascript:void(0);"ng-hide="picker.fontCurrentPage == 0"ng-click="picker.fontCurrentPage=picker.fontCurrentPage-1">Previous</a></li>
              <li><a href="javascript:void(0);"ng-hide="picker.fontCurrentPage >= picker.fonts.length/picker.fontPageSize - 1"ng-click="picker.fontCurrentPage=picker.fontCurrentPage+1">Next</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="category">Categories</label><br>
            <div class="row">
              <div class="col-xs-4" ng-repeat="category in picker.fontsCategories | orderBy:category">
                <button style="margin:4px;" ng-class="{'btn-primary':picker.activeCategoryIndexEvt($index)}" class="btn btn-default btn-xs btn-block" ng-click="picker.setCategoryFilter($index, category)"><span style="font-family:{{category}};">{{category}}</span>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="category">Variants</label><br>
            <div class="row">
              <div class="col-xs-3" ng-repeat="variant in picker.fontsVariants | orderBy:variant">
                <button style="margin:4px;" ng-class="{'btn-primary':picker.activeVariantIndexEvt($index)}" class="btn btn-default btn-xs btn-block" ng-click="picker.setVariantFilter($index, variant)"><span style="font-family:{{variant}};">{{variant}}</span>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="category">Subsets</label><br>
            <div class="row">
              <div class="col-xs-3" ng-repeat="subset in picker.fontsSubsets | orderBy:subset">
                <button style="margin:4px;" ng-class="{'btn-primary':picker.activeSubsetIndexEvt($index)}" class="btn btn-default btn-xs btn-block" ng-click="picker.setSubsetFilter($index, subset)"><span style="font-family:{{varisubsetant}};">{{subset}}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.27/webfontloader.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
      <script src="index.js"></script>
    </body>
  </html>